---
---
<div class="facebook-sidebar">
  <div class="section-header">
    <h2 class="section-title">फेसबुकमा हामी (Facebook Feed)</h2>
  </div>
  
  <div class="fb-container">
    <div 
      class="fb-page" 
      data-href="https://www.facebook.com/bimalirajendra" 
      data-tabs="timeline" 
      data-width="" 
      data-height="500" 
      data-small-header="false" 
      data-adapt-container-width="true" 
      data-hide-cover="false" 
      data-show-facepile="true"
    >
      <blockquote cite="https://www.facebook.com/bimalirajendra" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/bimalirajendra">Online Pati News</a>
      </blockquote>
    </div>
  </div>
</div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ne_NP/sdk.js#xfbml=1&version=v19.0"></script>

<style>
  .facebook-sidebar {
    background: #fff;
    padding: 1rem;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 2rem;
  }

  .section-header {
    margin-bottom: 1rem;
  }

  .section-title {
    font-family: var(--font-headline);
    font-size: 1.5rem;
    border-bottom: 2px solid var(--primary-color);
    display: inline-block;
    padding-bottom: 0.3rem;
  }

  .fb-container {
    width: 100%;
    overflow: hidden;
  }

  /* Ensure Facebook adapts to container */
  .fb-page, .fb-page span, .fb-page iframe {
    width: 100% !important;
  }
</style>
